.slider {
    position: relative;
    width: 100%;
    overflow: hidden;

    .slides {
        width: 400%;
        height: 305px;
        display: flex;
        transition: all 0.3s ease;

        .slide {
            position: relative;
            width: 25%;

            img {
                width: 100%;
            }

            .modal {
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: row;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(255, 110, 97, 0.6);
                opacity: 0;
                visibility: hidden;
                transition: all 0.3s ease;
                cursor: pointer;
                z-index: 1;

                .container {
                    display: flex;
                    align-items: center;
                    flex-direction: row;

                    .icon {
                        width: 30px;
                        height: 30px;
                        border: 1px solid #fff;
                        background-color: #ff6f61;
                        color: #fff;
                        border-radius: 5px;
                        margin-right: 5px;
                        padding: 5px;

                        &:hover {
                            background-color: rgba(255, 110, 97, 0.5);
                        }
                    }
                }
            }

            &:hover .modal {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    button {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 50%;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #f1f1f1;
        border: 1px solid rgba(34, 34, 34, 0.287);
        margin: 0 10px;
        transform: translateY(-50%);
        z-index: 100;
        cursor: pointer;
    }

    .btn-next {
        right: 0;
    }
}
